@{
    ViewData["Title"] = "Nhập 3 giá trị a b c";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <label for="a">Hệ số a:</label>
    <input type="number" step="any" id="a" name="a"><br>

    <label for="b">Hệ số b:</label>
    <input type="number" step="any" id="b" name="b"><br>

    <label for="c">Hệ số c:</label>
    <input type="number"step="any" id="c"  name="c"><br>

    <button type="submit">Tính nghiệm:  </button>

</form>
<h2>@ViewData["result"]</h2>
