@{
    ViewData["Title"] = "Nhập 3 giá trị";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <label for="months">Số tháng:</label>
    <input type="number" id="months" name="months"><br>

    <label for="moneyFirst">Số tiền:</label>
    <input type="number" id="moneyFirst" name="moneyFirst"><br>

    <label for="rateMonths">Tỉ lệ lãi hàng tháng (%):</label>
    <input type="number" id="rateMonths" step="any" name="rateMonths"><br>

    <button type="submit">Tính lãi </button>

</form>
<h2>@ViewData["result"]</h2>
