@{
    ViewData["Title"] = "Nhập 3 giá trị";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    

    <label for="listNumbers">Nhập chuỗi số (có space):</label>
    <input type="text" id="listNumbers" name="listNumbers"><br>

    <button type="submit">kiểm tra </button>

</form>
<h2>@ViewData["result"]</h2>
